.header {
  z-index: 2;
  position: fixed;
  width: 100%;
  box-shadow: 0 1px 2px rgb(0 0 0 / 10%);
  background: #fff;

  &-mobile {
    padding: 0.7rem 0;

    &__content {
      display: flex;
    }

    & .logo {
      margin-right: -9.5rem;
      min-width: 100%;

      @media (max-width: 480px) {
        min-width: fit-content;
        width: 20%;
        margin-right: 1rem;
      }
    }

    & .input-search {
      @media (max-width: 480px) {
        width: 80%;
      }
    }
  }

  &__top-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 12px 0;
  }

  &__nav {
    display: flex;
    gap: 1.2rem;
    font-size: 15px;
  }

  &__bottom {
    padding-bottom: 8px;

    background-color: white;
  }

  &__bottom-content {
    display: flex;
    align-items: center;
    justify-content: space-between;

    &-left {
      display: flex;
      gap: 2.3rem;
    }
  }

  &__catalog {
    position: relative;
    padding: 12px;
    border-radius: $radius;
    display: flex;
    align-items: center;
    cursor: pointer;
    background-color: $primary;

    &:hover {
      & i {
        &::before {
          height: 0;
          border-width: 2px;
          transform: rotate(45deg);
          border-bottom: none;
          transition: $transition;
        }

        &::after {
          transform: rotate(-45deg);
          transition: $transition;
        }
      }

      & .header__catalog-menu {
        display: block;
      }
    }

    & i {
      position: relative;
      width: 16px;
      margin-right: 12px;
      display: inline-flex;
      color: white;

      &::before {
        content: "";
        align-self: center;
        height: 13px;
        width: 100%;
        margin-top: 2px;
        margin-bottom: 2px;
        border-top: 2px solid;
        border-bottom: 2px solid;
        transition: $transition;
      }

      &::after {
        content: "";
        position: absolute;
        top: calc(50% - 1px);
        left: 0;
        right: 0;
        border-top: 2px solid;
        transition: $transition;
      }
    }

    & span {
      color: white;
    }

    &-menu {
      position: absolute;
      left: 0;
      top: 100%;
      padding: 1rem;
      cursor: default;
      background-color: white;
      display: none;
    }

    &-item {
      cursor: pointer;
      transition: $transition;

      &:hover {
        color: black;
      }
    }
  }
}

.logo {
  font-size: 20px;
  font-weight: 600;

  display: flex;
  align-items: center;
  justify-content: center;

  cursor: pointer;
}

.header__right-section {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 2rem;
}

.header__right-item {
  position: relative;
  font-size: 12px;
  display: flex;
  flex-direction: column;
  align-items: center;
  cursor: pointer;
  color: #989898;

  &:nth-child(2) {
    & .header-cart-counter {
      right: -2px;
    }
  }

  & .header-cart-counter {
    position: absolute;
    top: 0px;
    right: 0px;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    background-color: #ff8888;
    box-shadow: 0 0 0 2px #fff;
    color: #fff;
    display: flex;
    font-size: 13px;
    font-weight: 700;
    justify-content: center;
    align-items: center;
    line-height: 1.1;
  }

  & svg {
    margin-bottom: 2px;
  }

  & b {
    color: #4e4e4e;
  }
}
