.input-search {
  position: relative;
  width: 40%;
  z-index: 4;

  & input {
    padding: 12px 12px 12px 42px;
    border-radius: 10px;
    border: 1px solid #d3d3d3;

    transition: $transition;

    @media (max-width: 991px) {
      width: 100%;
    }
  }

  & .svg-search {
    width: 18px;
    height: 18px;
    opacity: 0.3;
    left: 14px;
    top: 15px;
    pointer-events: none;
    position: absolute;
  }
}

.input-search-overlay {
  background-color: rgba(0, 0, 0, 0.1);
  height: 100vh;
  width: 100vw;
  position: fixed;
  left: 0;
  top: 0;

  display: none;

  &.active {
    display: block;
  }
}
