.catalog-screen {
  &__title {
    margin-bottom: 20px;
    height: 30px;
    width: 100%;

    font-weight: 600;

    display: inline-flex;
    align-items: center;

    @media (max-width: 519px) {
      height: auto;
    }

    & h1 {
      font-size: 30px;

      @media (max-width: 991.9px) {
        font-size: 24px;
      }
    }
  }

  &__main-content {
    display: grid;
    grid-gap: 14px;

    @media (min-width: 1200px) {
      grid-template-columns: 280px 1fr;
    }

    @media (max-width: 1199px) {
      grid-template-columns: 240px 1fr;
    }

    @media (max-width: 991.9px) {
      grid-template-columns: auto;
    }
  }
}
